@import "imports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $main-font;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  margin-top: 10px;
}

.loading {
  margin: 0 auto;
  width: max-content;
  height: max-content;
  &__image {
    width: 100px;
    height: 100px;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.2));
  }
}

.content {
  display: flex;
  width: 100%;
  min-height: 70vh;
  background: $secondary-grey;
  padding: 20px 0;
}

.not-found {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
  gap: 5px;
  &__star {
    svg {
      fill: orange;
    }
    &-empty {
      svg {
        fill: $secondary-grey;
      }
    }
  }
}
