@import "imports";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@import "header";

.main {
  margin-top: 10px;
}

.loadng {
  margin: 0 auto;
  width: max-content;
  height: max-content;
  &__image {
    width: 100px;
    height: 100px;
  }
}

.content {
  width: 100%;
  background: $secondary-grey;
}
